@font-face {
   font-family: 'Comic Sans MS';
   src: url('../fonts/ComicSansMS.woff2') format('woff2'),
		url('../fonts/ComicSansMS.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}


/* --------- reset ------------ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
img{
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
body {
	line-height: 1;
}

/* --------- /reset --------- */
body {
	background: rgb(61, 61, 61);
}
body:hover{
	background: rgb(43, 43, 43);
	transition: 3s;
}
.content__rocket{
	position: relative;
	width: 700px;
	height: 400px;
	margin: 0 auto;
}
.main__content {
	background: #333;
	border-radius: 6px;
	border: 3px solid #ffe4e1;
	color: #ffe4e1;
	height: 500px;
	margin-left: -150px;
	margin-top: -100px;
	position: relative;
	width: 900px;
	margin: 0 auto;
	z-index: 99;
}
.rocket__mach{
	position: absolute;
	top: 120px;
	left: 230px;
	animation: rocket 0.3s linear infinite;
}
.rocket__strike{
	position: relative;
	width: 1px;
	top: 270px;
	left: 220px;
	transform: rotate(-45deg);
}

.rocket__mach:hover{
	animation-play-state: paused;
}
.strike {
	position: absolute;
	width: 20px;
	height: 3px;
	background: #ffe4e1;
	animation: strikes 0.2s linear infinite;
}
.strike2 {
	top: 11px;
	animation-delay: 0.05s;
}
.strike3 {
	top: 22px;
	animation-delay: 0.1s;
}
.strike4 {
	top: 33px;
	animation-delay: 0.15s;
}
.strike5 {
	top: 44px;
	animation-delay: 0.2s;
}


.title{
	width: 100%;
	height: 80px;
	margin-bottom: 30px;
	text-align: center;
	margin-top: 20px;
}
.title__p {
	font-family: 'Comic Sans MS', arial;
	color:  #afacac;
	letter-spacing: 3px;
	font-weight: 700;
	font-size: 40px;
	animation: title 3s ease forwards;
	transform: translate(0px, -50%);
	opacity: 0;
}
.content{
	opacity: 0;
	animation: content 3s ease forwards 1s;
	transform: translate(-50%, 80%);
}
@keyframes content {
	100% {
		transform: translate(0px, 0%);
		opacity: 1;
	}
}
@keyframes title {

	100% {
		transform: translate(0px, 0%);
		opacity: 1;
	}
}
@keyframes strikes {
	from {
	left: 25px;
	}
	to {
	left: -80px;
	opacity: 0;
	}
}
@keyframes rocket{
	0%{
		transform: translate(-2px, -2px);
	}
	50%{
		transform: translate(2px, 2px);
	}
	100%{
		transform: translate(-2px, -2px);
	} 
}